<tr class="details-row">
  <td><%= "#{signup.first_name} #{signup.last_name}"%></td>
  <td><%= signup.email %></td>
  <td class="right-align"><%= signup.contact_number %></td>
  <td class="right-align"><%= number_to_currency(signup.total) %></td>
  <td class="center-align"><p><%= signup.paid_status %></p><br>
    <%= button_to "change", signup_path(signup), method: :patch, remote: true, class: "waves-effect waves-light btn-large paid-button" %>
  </td>
  <td class="center-align">
    <%= link_to "details", "#", class: "waves-effect waves-light btn-large details-button" %>
  </td>
</tr>
<tr class="signup-details">
    <td><p class="description">Contact Address:</p>
        <p><%= "#{signup.street_address}, #{signup.city}, #{signup.state}  #{signup.zip}" %></p>
    </td>
    <td>
    <ul>
    <% if signup.players.count > 0 %>
      <p class="description">Players' Names:</p>
      <% signup.players.each do |player| %>
        <li><%= "#{player.player_first_name} #{player.player_last_name}" %></li>
      <% end %>
    <% elsif signup.diners.count > 0 %>
      <p class="description">Diners' Names:</p>
      <% signup.diners.each do |diner| %>
        <li><%= "#{diner.diner_first_name} #{diner.diner_last_name}" %></li>
      <% end %>
    <% else %>
      <p class="description">Sponsorships:</p>
      <% signup.sponsorship.selected_sponsorships.each do |sponsorship| %>
        <li><%= sponsorship %></li>
      <% end %>
    <% end %>
    </ul>
    </td>
</tr>