<div class="container user-action">

  <table class="responsive-table highlight">
    <thead>
      <tr>
        <th data-field="contact">Contact Name</th>
        <th data-field="email">Email</th>
        <th data-field="phone">Phone Number</th>
        <th data-field="total">Total Donation Amount</th>
        <th data-field="paid">Paid Status</th>
        <th data-field="details">Details</th>
      </tr>
    </thead>

  <% @signups.each do |signup| %>
    
      <% if signup.players.count > 0 %>
        <tr>
          <td><%= signup.contact_name %></td>
          <td><%= signup.email %></td>
          <td><%= signup.contact_number %></td>
          <td><%= signup.total %></td>
          <td><%= signup.paid_status %><%= button_to "Change", method: :update, confirm: "Confirm changing paid status" %></td>
        </tr>
    
      <% elsif signup.sponsorships.count > 0 %>
        <tr>
          <td><%= signup.company_name %></td>
          <td><%= signup.email %></td>
          <td><%= signup.contact_number %></td>
          <td><%= signup.total %></td>
          <td><%= signup.paid_status %><%= button_to "Change", method: :update, confirm: "Confirm changing paid status" %></td>
        </tr>
    
      <% else %>
        <tr>
          <td><%= signup.contact_name %></td>
          <td><%= signup.email %></td>
          <td><%= signup.contact_number %></td>
          <td><%= signup.total %></td>
          <td><%= signup.paid_status %><%= button_to "Change", method: :update, confirm: "Confirm changing paid status" %></td>
        </tr>
    
      <% end %>
  </table>
<% end %>
</div>