<div class="container signup-form">
  <%= form_for :user, url: users_path(@user) do |f| %>
    <% if flash[:error] %>
      <div class="error-explanation">
        <p class="error"><%= flash[:error] %></p>
      </div>
    <% end %>

    <div class="user-action">
      <%= f.label :username, "Username", class: "form-label" %><br>
      <%= f.text_field :username %>

      <%= f.label :password, "Password", class: "form-label" %><br>
      <%= f.password_field :password %>

      <%= f.label :email, "Email", class: "form-label" %><br>
      <%= f.text_field :email %>

      <%= f.label :role, "Role", class: "form-label" %><br>
      <%= f.text_field :role %>

      <div class="actions waves-effect waves-light btn-large players-signup-button">
        <%= f.submit "register as new user" %>
      </div>
    </div>

  <% end %>
</div>