<% sponsors_signups.each do |signup| %>
  <tr class="details-row">
    <td>
      <ul>
        <% signup.sponsorship.selected_sponsorships.each do |sponsorship| %>
          <li><%= sponsorship %></li>
        <% end %>
      </ul>
    </td>
    <td><%= "#{signup.first_name} #{signup.last_name}"%></td>
    <td><%= signup.email %></td>
    <td class="right-align"><%= signup.contact_number %></td>
    <td class="right-align"><%= number_to_currency(signup.total) %></td>
    <td class="center-align"><%= signup.paid_status %></td>
  </tr>
<% end %>