<div class="container center-align player-reg-info">
  <h1>Join us for a great day of golf!</h1>
  <h2>Scoring/Rules: Scramble</h2>
  <h2>Awards & prizes during dinner</h2>
  <h3>Cost per player: $150</h3>
  <p>Includes: golf, cart, lunch and dinner</p>
  <p>12:30pm registration, 1:00pm tee time</p>

  <p>Prizes include:</p>
  <ul>
    <li>Winning team: 4 wedges</li>
    <li>Longest drive: TBD</li>
  </ul>
  <p>50/50 and auction items available during dinner buffet.</p>
  <p>Sports memorabilia, jewelry, gift cards, golf items and more!</p>
</div>

<div class="container new-signup">
  <%= form_for(setup_signup(@signup)) do |f| %>
    <% if @signup.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

        <ul>
        <% @signup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>Information about you:</p>

    <div class="field">
      <%= f.label :first_name, "First Name" %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Last Name" %><br>
      <%= f.password_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email, "Email" %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :street_address, "Street Address" %><br>
      <%= f.password_field :street_address %>
    </div>
    <div class="field">
      <%= f.label :city, "City" %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state, "State" %><br>
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :zip, "Zip Code" %><br>
      <%= f.password_field :zip %>
    </div>
    <div class="field">
      <%= f.label :contact_number, "Contact Number" %><br>
      <%= f.text_field :contact_number %>
    </div>
    
    <p>Players' Information:</p>
    <%= f.fields_for :players do |ff| %>
      <div class="player-info-collection">
        <%= ff.label :player_first_name, "Player First Name" %><br>
        <%= ff.text_field :player_first_name %>
      </div>
      <div>
        <%= ff.label :player_last_name, "Player Last Name" %><br>
        <%= ff.text_field :player_last_name %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :additional_donation, "Additional Donation Amount" %><br>
      $<%= f.text_field :additional_donation %>
    </div>
    <div class="actions center-align waves-effect waves-light btn-large">
      <%= f.submit %>
    </div>
  <% end %>
</div>