<!DOCTYPE html>
<html>
<head>
  <title>KatzGolfTournament</title>
    <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
</head>

<nav class="row">
  <% if !logged_in? %>
    <%= image_tag "Christopher_Katzenstein.jpg", class:"col s2 m2 l2 katz-pic" %>
  <% end %>
  <%= link_to "HOME", pages_path, class:"col s2 m2 l2 right-align nav-link" %>
  <% if logged_in? %>
    <%= link_to "ALL SIGNUPS", signups_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "ALL PLAYERS", players_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "ALL DINERS", diners_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "ALL SPONSORS", sponsorships_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "LOGOUT", logout_path, class: "col s2 m2 l2 right-align nav-link" %>
  <% else %>
    <%= link_to "SPONSOR", new_sponsorships_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "REGISTER PLAYERS", new_players_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "DINNER ONLY", new_diners_path, class: "col s2 m2 l2 right-align nav-link" %>
    <%= link_to "CONTACT INFO", users_show_path, class: "col s2 m2 l2 right-align nav-link" %>
  <% end %>
  </nav>

<body>

<%= yield %>

</body>

<footer>
  <div class="container center-align charity-info">
    <%= link_to "Proceeds benefit the Christopher Katzenstein Scholarship Fund", new_session_path, class: "col s2 m2 l2 right-align login-link" %><br>
    <%= link_to "Federal Tax ID #0400517142", users_new_path, class: "col s2 m2 l2 right-align login-link" %>
  </div>
</footer>

</html>
